:root {
  --main-color: #4d5ae5;
  --section-background-color: #2e2f42;
}

body {
  font-family: "Raleway", "Roboto", sans-serif;
  color: #434455;

}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}
.studio {
  color: var(--section-background-color, #2e2f42);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.contact-info address {
  font-style: normal;
}

.logo .studio-text {
  color: var(--section-background-color, #2e2f42);
}

.link {
  text-decoration: none;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.contacts {
  list-style: none;
}

.section {
  background-color: var(--section-background-color);
  padding: 20px;
  text-align: center;
}



.section-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.section-button:hover,
.section-button:focus {
  background-color: #404bbf;
}

.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--section-background-color, #2e2f42);
}
.list-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: var(--section-background-color, #2e2f42);
  padding: 20px;
  text-align: center;
}

.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.footer .link {
  text-decoration: none;
}

.footer .footer-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

.section h3 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--section-background-color, #2e2f42);
}

.section ul {
  list-style: none;
}

.section:nth-child(4) {
  background-color: #f4f4fd;
}

.section:nth-child(4) li {
  background-color: #ffffff;
}

.footer .logo .studio-text {
  color: #f4f4fd;
}

.section:nth-child(4) {
  background-color: #f4f4fd;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.team-member-role {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}