/* Head */
:root {
  --brand-color: #404bbf;
  --primary-white-color: #ffffff;
  --body-color: #434455;
  --classic-background-color: #f4f4fd;
  --footer-color: #2e2f42;
  --button-color: #4d5ae5;
  --primaty-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
}

body {
  color: var(--body-color);
  background-color: var(--primary-white-color);
  font-family: var(--primaty-font);
}

/* Header */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  color: var(--button-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.studio-color {
  color: var(--footer-color);
}

.nav {
  font-family: "Roboto";
}

header {
  padding: 20px;
}

nav ul.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul.nav-list li {
  margin-right: 20px;
}

nav ul.nav-list li:last-child {
  margin-right: 0;
}

nav ul.list li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color);
  text-decoration: none;
}

nav ul.nav-list li a:hover,
nav ul.nav-list li a:focus {
  color: var(--brand-color);
}

header .logo {
  font-family: var(--title-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
  text-decoration: none;
}

header .logo-text {
  color: var(--button-color);
}

.contact-list .list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.contact-list .list li {
  margin-right: 20px;
}

.contact-list .list li:last-child {
  margin-right: 0;
}

.contact-list .list li a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-color);
  text-decoration: none;
}

.contact-list .list li a:hover,
.contact-list .list li a:focus {
  color: var(--brand-color);
}

.link:hover,
.link:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

/* Section 1 */
.section-one {
  background-color: var(--footer-color);
}

.section-one h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.section-button {
  background-color: var(--button-color);
  font-family: var(--primaty-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  cursor: pointer;
}

.section-button:hover,
.section-button:focus {
  background-color: var(--brand-color);
}

/* Section 2 */
.section-2 .list {
  list-style: none;
}

.section-2 .list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-2 .list-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 3 */
.section-3 h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--body-color);
}

.section-3 ul.section-list {
  list-style: none;
  letter-spacing: 0.02em;
}

.section-3 h2.section-title {
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Section 4 */
.section-four {
  background-color: var(--primary-white-color);
  color: #2e2f42;
}

.section-four ul {
  list-style: none;
}

.section-four h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--classic-background-color);
}

.section-four p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-color);
}

/* Footer */
.footer {
  background-color: var(--footer-color);
  padding: 20px;
  color: var(--classic-background-color);
}

.footer .footer-logo {
  font-family: var(--title-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
  text-decoration: none;
}

.footer .footer-logo span {
  color: var(--classic-background-color);
}

.footer .footer-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--classic-background-color);
}
